:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --darker-border-color: #d9d9d9;
}

html {
  background-color: white;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  background-color: white;
  gap: 30px;
}

article {
  display: block;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 1440px;
}

header img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px 30px 50px;
  width: 61.09px;
  height: 19px;
}

header nav {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  gap: 68px;
  max-width: 344px;
}

header nav a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  max-width: 113px;
  padding-top: 14px;
}

header nav a:hover {
  color: var(--main-color);
}

header nav a.active {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

h1 {
  font-size: 22px;
  font-weight: 700;
  margin: auto auto 8px auto;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: clamp(8px, 2vw, 35px);
  padding: 0 clamp(8px, 2vw, 50px);
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

.landing {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.search-bar {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 377px;
  height: 49px;
}

.search-icon-location {
  width: 14px;
  height: 18px;
  background-color: var(--main-bg-color);
  padding: 15px 18px 16px 18px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  border: none;
  outline: none;
  margin-right: -15px;
  padding: 10px 12px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  flex: 0 1 auto;
  min-width: 160px;
  width: 100%;
}

.search-input::placeholder {
  color: #000;
}

.search-button {
  width: 132px;
  height: 49px;
  background: var(--main-color);
  border: none;
  padding: 0 16px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search-button img {
  display: none;
  width: 17px;
  height: 17px;
}

.search-text {
  display: inline;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.filters {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filters h2 {
  font-size: 18px;
  font-weight: 700;
}

.filter-buttons {
  display: flex;
  column-gap: 10px;
}

.filter-buttons button {
  font-weight: bold;
  font-size: 17px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  border: 2px solid var(--darker-border-color);
  border-radius: 25px;
  height: 50px;
  padding: 4px 19px;
  gap: 10px;
}

.filter-buttons img {
  width: 22px;
  height: 22px;
}

.filter-buttons .active {
  background-color: var(--filter-bg-color);
}

.callout {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.callout img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  height: 10px;
  padding: 6.2px 9.2px;
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
}

.redirect-card {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
  border-radius: 15px;
  max-width: 429px;
  max-height: 614px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  overflow: hidden;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 369px;
  height: 26px;
}

.popular-title img {
  width: 18px;
  height: 15.75px;
}

.popular-card {
  max-width: 369px;
  height: 146px;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.popular-card img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 136px;
  object-fit: cover;
  display: block;
}

.popular-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
  max-height: 136px;
  box-sizing: border-box;
}

.popular-description h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.stars {
  display: inline-flex;
}

.stars img {
  padding: 0 1px;
  width: 12px;
  height: 12px;
}

.housing {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: var(--main-bg-color);
  border-radius: 15px;
  max-width: 871px;
  box-sizing: border-box;
}
.housing h2,
h3 {
  margin: 0;
}

.housing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1fr;
  gap: 30px;
}

.housing-card {
  max-width: 250px;
  max-height: 207px;
  height: 100%;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-rows: 60% auto auto auto;
  row-gap: 8px;
  overflow: hidden;
}

.housing-card .housing-photo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 114px;
  object-fit: cover;
  display: block;
}

.housing-card h3 {
  font-weight: 700;
  font-size: 16px;
  margin-left: 8px;
}

.housing-card p,
.housing-card div {
  margin-left: 8px;
}

.activities {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.activities-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.activities h2 {
  margin: 0;
}

.activities-card {
  width: 100%;
  max-width: 297.5px;
  height: 439px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-rows: 85% auto;
  align-items: center;
  overflow: hidden;
}

.activities-card .activities-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.activities-card h3 {
  font-weight: 700;
  font-size: 16px;
  padding-left: 19px;
}

footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 100%;
  max-width: 1440px;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  box-sizing: border-box;
}

footer h3 {
  margin: 0;
}

@media (max-width: 1024px) {
  body {
    max-width: 1024px;
  }

  main {
    grid-template-columns: 1fr;
  }

  .filters {
    flex-direction: column;
    align-items: start;
  }

  .filters h2 {
    margin: 0;
  }

  .filters-button button {
    font-size: 16px;
    font-weight: 700;
  }

  .housing {
    max-width: 924px;
  }

  .housing-card {
    max-width: 268px;
  }

  .popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 924px;
    max-height: 252px;
    gap: 20px;
  }

  .popular-title {
    max-width: inherit;
    grid-column: 1 / -1;
    padding: 0;
  }

  .popular-card {
    max-width: 274.6px;
  }

  .activities {
    max-width: 924px;
  }

  .activities-card {
    min-width: 193.5px;
    max-width: 193.5px;
    height: 270px;
    grid-template-rows: 74% auto;
  }
}

@media (max-width: 768px) {
  /* CSS trick for demonstration only */
  .filter-buttons .active {
    background-color: white;
  }
  .filter-buttons button:nth-child(2) {
    background-color: var(--filter-bg-color);
  }
  /* spacer */

  body {
    margin: 0;
    width: 100%;
    min-width: 320px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header img {
    padding: 30px;
  }

  header nav {
    gap: 0;
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
  }

  header nav a {
    width: 100%;
    max-width: 100%;
    padding: 0 0 15px 0;
    border-bottom: 2px solid var(--main-bg-color);
  }

  header nav a.active {
    border-top: 0;
    border-bottom: 2px solid var(--main-color);
  }

  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "landing"
      "popular"
      "housing"
      "activities"
      "footer";
    min-width: 320px;
    padding: 0;
    margin: auto;
  }

  .landing {
    grid-area: landing;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
  }

  .search-bar {
    max-width: 335px;
  }

  .search-button {
    width: 49px;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .search-button img {
    display: block;
  }

  .search-text {
    display: none;
  }

  .filters {
    display: block;
    width: 100%;
  }

  .filters h2 {
    margin-bottom: 20px;
  }

  .filter-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
  }

  .filter-buttons button {
    font-size: 14px;
  }

  .callout {
    width: 100%;
  }

  .popular {
    grid-area: popular;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 20px 30px 20px;
    gap: 15px;
    max-height: 569px;
    box-sizing: border-box;
    border-radius: 0;
    max-width: none;
  }

  .popular-card {
    max-width: none;
    width: 100%;
  }

  .redirect-card {
    display: flex;
    align-items: center;
  }

  .popular-title {
    padding: 0;
  }

  .housing {
    grid-area: housing;
    gap: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 0;
    height: auto;
    max-width: none;
  }

  .housing-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .housing-card {
    max-width: none;
    width: 100%;
  }

  .activities {
    grid-area: activities;
    width: 100%;
    max-width: none;
    box-sizing: border-box;
  }

  .activities-box {
    flex-direction: column;
    gap: 15px;
  }

  .activities-card {
    max-width: none;
    height: 200px;

    grid-template-rows: 70% auto;
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: none;
    margin: auto;
  }

  footer div {
    padding: 0;
  }
}
